* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
body {
  background-color: rgb(129, 131, 248);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  padding: 40px;
}
.product-input input,
.product-input button {
  padding: 10px;
}
.product-input input,
.product-input button,
.remove-button {
  outline: none;
  border: none;
}
.product-input input {
  margin-bottom: 20px;
  background-color: #eaeaea;
}
.product-input input::placeholder,
.product-input button {
  font-weight: 700;
}
.product-input button {
  background-color: rgb(129, 131, 248);
  color: #eaeaea;
  cursor: pointer;
}
.products-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
.product-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product {
  background-color: #eaeaea;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 300px;
}
.remove-button {
  background-color: rgb(248, 129, 157);
  color: #eaeaea;
  cursor: pointer;
  padding: 11.6px 25px;
  margin-bottom: 10px;
}
.info {
  padding: 0 20px;
  color: rgb(98, 192, 98);
}
